.App {
  text-align: center;
  background-color:rgb(43, 43, 43);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(214, 64, 64);
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 50px;
}

.AllPokemons{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cartes {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  width: 130px;
  background-color: rgb(197, 196, 196);
  border-style: inset;
  border-radius: 10px;
  border-width: thick;

}

.details h3 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 200;
}
.num {
  font-style: italic;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokeball {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
}
.type {
  font-weight:400;
}

.details li {
  list-style-type: none;
}
.rock img{
  background-color: #866e58;
}
.ghost img{
  background-color: #ffffff;
}
.electric img{
  background-color: #ffe77a;
}
.bug img{
  background-color: #8ba363;
}
.poison img{
  background-color: #9360a7;
}
.normal img{
  background-color: #b8b8b8;
}
.fairy img{
  background-color: #ffa8ec;
}
.ground img{
  background-color: #948964;
}
.psychic img{
  background-color: #b870a8;
}
.fighting img{
  background-color: #ad5040;
}
.fire img{
  background-color: #da5037;
}
.grass img {
  background-color:#76c073;
}
.water img {
  background-color:#6ab3e7;
}
.steel img{
  background-color: #93abbd;;
}
